@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.active{
    background-color: #d19b11;
    color: #1B1B1B;
    transition: width 2s linear 1s;
}

body{
    background-color: rgb(79, 79, 79);
}

#mobile{
    max-width: 500px;
    min-height: 650px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #ffff;
    overflow: hidden;
    background-size: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
}

#img-container{
    width: fit-content;
    margin: 30px auto 0 auto;
}

#img-perfil{
    border-radius: 10px;
    cursor: pointer;
}

#img-perfil:hover{
    transform: scale(1.05);
}

#menu{
    border-bottom-right-radius: 40px;
    background-color: #1B1B1B;
    box-shadow: 0px 4px 4px #0000004b;
    width: 60px;
    animation: nav-load 1s;
}

@keyframes nav-load{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

#menu-lista{
    height: 85%;
    width: 60px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lista{
    transition: ease 0.6s;
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    border-radius: 15px;
    text-align: center;
}

.lista span{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    color: #969696;
    font-size: 22px;  
    font-weight: 600;
}

.lista a{
    text-decoration: none;
}

.lista:hover{
    background-color: #af800a;
    color: #1B1B1B;
}

#content{
    width: 100%;
    height: 100%;
}

#rest{
    animation: info-load 5s;
}

@keyframes info-load {
    0% {
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

#main-information{
    transform: translateY(-15px);
}


#content header{
    display: flex;
    height: 85px;
    align-items: center;
    margin: 0 15px;
    justify-content: space-between;
}

#hora-atual{
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 1px #00000054;
    animation: hora-load 2s;
}

@keyframes hora-load{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

#header-icons{
    margin-top: 25px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    animation: icons-load 2s;
}

@keyframes icons-load{
    0%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0px);
    }
}

#title{
    height: fit-content;   
    background-color: rgba(255, 255, 255, 0.083);
    border-radius: 5px;
    box-shadow: 0px 0px 15px #0000000e; 
    margin: 0px auto;
}

#title-home-bomdia{
    font-weight: 600;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.371);
    font-size: 22px;
    animation: bomdia-load 3s;
}

@keyframes bomdia-load{
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(0);
    }
    85%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

#title-home{
    font-weight: 600;
    line-height: 50px;
    width: 100%;
    color: #ffffff;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.371);
    line-height: 2.9rem;
    text-align: center;
}

#cidade{
    text-align: center;
}

#tempo-container{
    display: flex;
    flex-direction: column;
    transform: translateY(-13px);
}

#icone-tempo-container{
    align-self: center;
    margin-top: 10px;
}

.icone-tempo{
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
}

#descricao-tempo{
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    padding: 4px;
    background-color: #00000010;
    color: white;
    border-radius: 5px;
}

.icone-info{
    width: fit-content;
    margin: 0 auto;
}

.temp-atual-p{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.temp-minmax{
    text-align: center;
}

.informacoes{
    height: fit-content;
    width: 100%;
    margin: auto;
}

.icone-info i{
    color: white;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.371);
    margin-top: 5px;
    text-align: center;
}

.info{
    text-align: center;
    font-weight: 500;
}

.info-title{
    text-align: center;
}

#informacoes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.section-informacoes{
    width: 100%;
    background-image: linear-gradient(to top, #ffffff51, #ffffff27);
    border-radius: 5px;
    box-shadow: 0px 0px 15px #0000000e;
}

.sensacao-temp-title{
    font-weight: 600;
    text-align: center;
}

.nascer-por-sol-title{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.pressao-umidade-title{
    text-align: center;
    font-weight: 600;
}

#vento{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    transform: translateY(-15px);
}

.hora-sol{
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
}

#info-temp{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}


footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f4f3ee;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

footer div{
    margin: auto;
    cursor: pointer;
    padding: 6px;
    width: 25px;
    transition: transform .3s ease-in-out;
}



.icone{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/** Celulares menores */
@media screen and (max-width: 375px), screen and (min-width: 375px) { 
    #mobile{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #menu{
        height: 90%; 
    }

    #img-perfil{
        width: 35px;
        height: 35px;
    }

    #title{
        width: 280px;
        margin-bottom: 10px;
    }

    #title-home{
        font-size: 18px;
    }

    .pressao-umidade-title{
        font-size: 13px;
    }

    .sensacao-temp-title{
        font-size: 13px;
    }

    .section-informacoes{
        width: 140px;
        height: 250px;
        margin: 0 5px 5px;
    }

    .temp-minmax{
        font-size: 10px;
        margin-bottom: 10px;
    }

    footer{
        height: 60px;
        transform: translateY(-60px);
    }
}

/** Celulares maiores */
@media screen and (min-width: 400px){ 
    #menu{
        height: 88%;
    }

    #img-perfil{
        width: 40px;
        height: 40px;
    }

    #title{
        width: 300px;
    }

    #title-home{
        font-size: 22px;
    }

    #descricao-tempo{
        font-size: 15px;
    }

    #horas-container{
        display: flex;
        justify-content: space-around;
    }
    
    #horas-container div{
        width: 50%;
    }

    .hora-sol{
        font-size: 20px;
    }

    #info-temp{
        justify-content: space-around;
        display: flex;
    }

    .sensacao-temp-title{
        font-size: 20px;
    }

    .pressao-umidade-title{
        font-size: 18px;
    }

    .section-informacoes{
        transform: translateY(-30px);
        width: 300px;
        height: fit-content;
        margin: 0 auto;
    }

    .temp-minmax{
        font-size: 12px;
    }

    footer{
        height: 75px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        transform: translateY(-75px);
    }
}


/** Iphone X
 *  
@media screen and (width: 375px), screen and (height: 812px){
    #menu{
        height: 90%;
    }

    #img-perfil{
        width: 40px;
        height: 40px;
    }

    #title{
        margin-top: 30px;
        width: 275px;
    }

    #title-home{
        font-size: 24px;
    }

    #descricao-tempo{
        font-size: 15px;
    }

    #horas-container{
        display: flex;
        justify-content: space-around;
    }
    
    #horas-container div{
        width: 50%;
    }

    .hora-sol{
        font-size: 22px;
    }

    #info-temp{
        justify-content: space-around;
        display: flex;
    }

    .sensacao-temp-title{
        font-size: 20px;
    }

    .pressao-umidade-title{
        font-size: 16px;
    }

    .nascer-por-sol-title{
        font-size: 16px;
    }

    #informacoes-container{
        display: block;
        margin: 0 auto;
        width: fit-content;
    }

    .section-informacoes{
        transform: translateY(-30px);
        width: 275px;
        height: fit-content;
    }

    .temp-minmax{
        font-size: 14px;
    }

    footer{
        height: 75px;
        transform: translateY(-70px);
    }
}
*/

/** Ipad ou web */
@media screen and (min-width: 600px){
    #menu{
        height: 90%;
    }

    #img-perfil{
        width: 50px;
        height: 50px;
    }

    #title{
        width: 400px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .section-informacoes{
        width: 400px;
        margin-bottom: 15px;
    }

    #title-home{
        font-size: 25px;
    }

    #info-temp{
        justify-content: space-around;
        display: flex;
    }

    .sensacao-temp-title{
        font-size: 22px;
    }

    .pressao-umidade-title{
        font-size: 22px;
    }

    .nascer-por-sol-title{
        font-size: 22px;
    }

    .hora-sol{
        font-size: 22px;
    }

    .info{
        font-size: 22px;
    }

    .info-title{
        font-size: 20px;
    }

    .temp-minmax{
        font-size: 18px;
    }

    #horas-container{
        display: flex;
        justify-content: space-around;
    }
    
    #horas-container div{
        width: 50%;
    }

    footer{
        height: 90px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        transform: translateY(-75px);
    }
}